.tableBlock{
    display: inline-block;
     width: 70%;
}
.tableHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tableBlock > table > tr > th {
    font-weight: 100;
}
.tableBlock > table {
    width: 100%;
    height: 100%;
}
.tableBlock > table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}